Repository leon19/ts-node-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, https://json.schemastore.org/lintstagedrc.schema.json, biome check --apply-unsafe

chore(deps): update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

feat(node): replace `volta` by `.node-version` and `.nvmrc` file
  .node-version
  .nvmrc
  package.json
Due: prettier --write

feat: pin node@22
  .node-version
Due: none

chore: replace `npm run` with `node --run`
  .github/workflows/test.yml
  README.md
  package.json
Due: prettier --write

chore(ci): use node@22 image to release package
  .github/workflows/release.yml
Due: none

feat: replace mocha with node native test runner
  .mocharc.json
  .test.env
  package.json
  src/sum.test.ts
Due: eslint --fix, prettier --write, biome check --apply-unsafe

feat: replase `chai` by `node:assert`
  package.json
  src/sum.test.ts
Due: eslint --fix, prettier --write, biome check --apply-unsafe

chore(lint): replace `useShorthandArrayType` with `useConsistentArrayType`
  biome.json
Due: prettier --write

feat: pin `node@22`
  .node-version
Due: none

feat: drop support for `node@20`
  .github/workflows/test.yml
Due: none

feat: replace `mocha` with `node` native test runner
  .mocharc.json
  .test.env
  .vscode/settings.json
  package.json
  src/sum.test.ts
Due: eslint --fix, prettier --write, biome check --apply-unsafe

chore(ci): use `node@22+ image to release package
  .github/workflows/release.yml
Due: none

chore: update license year
  LICENSE
Due: none

chore(deps): update dev dependencies
  .lintstagedrc.json
  biome.json
  package-lock.json
  package.json
  src/index.ts
  src/sum.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write, biome check --apply-unsafe

feat(ts): set target to es2024
  tsconfig.json
Due: prettier --write

feat(ts): replace `ts-node` by `@swc-node/register`
  .test.env
  .vscode/settings.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

chore: rename `.test.env` to `.env.test`
  .env.test
  package.json
Due: prettier --write

chore: typo
  .env.test
Due: none

chore(node): update to `node@22.19`
  .node-version
Due: none

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.ts
  prettier --write: ((any of: *.{md,json}) or (any of: .{c8rc,eslintrc,lintstagedrc,prettierrc})) or (any of: *.md)
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  biome check --apply-unsafe: any of: src/**/*.{ts,json}
